body {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 53px;
    margin-bottom: 80px;
}

.main-page {
    display: flex;
    width: 1180px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 715px;
}

.title-1 {
    font-size: 48px;
    color: #56509F;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 24px;
}

.title-2 {
    font-size: 72px;
    color: #FE6500;
    font-weight: 700;
    line-height: 64px;
}

.advantages-section {
    display: flex;
    flex-direction: column;
    color: #56509F;
}

.sub-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.advantage-element {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.advantage {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 8px;
}

.sign-up-btn {
    background-color: #FE6500;
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    padding: 32px;
    border-radius: 8px;
    border: 1px solid #FE6500;
    width: 331px;
}

.additional-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color: #56509F;
}

.photo-section {
    display: flex;
}

.photo-child {
    height: 715px;
    width: 580px;

}

